body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea, .selectize-control {
    max-width: 280px;
}


/* Notification styles
-----------------------------------------------------------*/
.notificationbox {
    z-index: 1000;
    padding: 12px 10px 10px 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #000;
    display: none;
    width: 550px;
}

.nb-success {
    color: #060;
    background: #cfc url(images/ok.gif) no-repeat 8px 12px;
}

.nb-error {
    color: #c00;
    background: #fcc url(images/fail.gif) no-repeat 8px 12px;
}

.nb-warning {
    color: #c60;
    background: #ffc url(images/warn.gif) no-repeat 8px 12px;
}

